# env & secrets
.env
.env.local
.env.*.local

# node_modules
/node_modules

# Vite build & cache
/dist
/.vite

# Logs
npm-debug.log*
yarn-error.log
yarn-debug.log

# Editor Directories
.vscode/
.idea/