.app-container {
  display: flex; /* Flex ile yan yana diz *
  min-height: 100vh;
  min-height: 100vh; /* Tam ekran yüksekliği */
  width: 100%;
}

.main-content {
  flex: 1 1 0;
  padding: 1rem;
  background: #f7f7f7;
  overflow-x: auto;
  min-width: 0; /* Burası çok kritik! */
  min-height: 100vh;
  display: flex;
  flex-direction: column; /* Eğer tüm child’lar dikeydeyse! */
}
